.flex-container {display:flex;}
.flex-container > div{width:50%;}
.flex-container > div:nth-child(2){margin-left: 5px;}
.flex-container .submit-btn{text-align:right;}
.product-btn {text-align:right;margin-top:20px}
.product-list {border-bottom: 0.1rem solid #dfe3e8;padding-bottom: 20px;}
.code-box{background-color:white;height:80px;margin-top: 10px;margin-bottom:10px;padding:10px;border:4px solid #f47777;}
.faq em{font-weight: bold;}
.color-picker{
  border:1px solid lightgray;
  width:20px !important;
  height: 20px;
  margin-left: 10px;
  margin-top: 32px;
}
header h1{font-size:2em;margin-bottom:20px;}
header{margin-top:50px;text-align:center;}
header p {font-size:1.5em;color:gray;margin-bottom:20px;}
.card-second{margin-top: -20px;color: gray;margin-bottom: 20px;}
.navigationMain {display:flex;padding:20px 0;margin-bottom: 40px;border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;}
.navigationMain > div{margin-left:30px;}
.navigationMain > div a{text-decoration: none;color:#637381;}
.navigationMain > div a:hover{color:#212b36;}

.flex-container-child{display:flex;margin-right: 40px;background: white;padding: 20px;}
.flex-container-child > div:last-child{margin-left:-90px;}
.flex-container-child img{width:30%;}
h1.app-name{font-weight: bold;font-size: 1.1em;}
.flex-container a{color:black;text-decoration: none;}

/*****Design Css*****/
.flex {display: flex;padding: 5px;}
.modelContent {
  background-color: #fefefe;
  box-shadow: 0 5px 30px rgba(0,0,0,0.2);
  border-radius:20px;
  text-align: center;
  width:63%;
  margin-left:20px;
height:fit-content;
}
.upsellHeader {
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius:20px;
  padding-bottom:10px;
}
.upsellInner {
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
}
.closeTag {
  float: right;
  padding-right: 20px;
  font-size: 1.5em;
  cursor: pointer;
}
.upsellHeader h1{font-size: 1.5em;padding: 5px 0;}
.buttonFlex button{margin-top: 10px;}
.upsell-img{width:50%;padding-top: 10px;}
.add-to-cart{
  padding: 10px;
  font-size: 1em;
  color:white;
  border-radius: 20px;
  width: 68%;
  height:20%;
  border: none;
}
.upsell-title {
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
  color: black;
  padding: 0 20px;
}
.upsell-price {
  text-align: center;
  font-size: 1.5em;
  margin-left: 36%;
}
.buttonFlex {display: flex; padding-bottom: 5px;}
.timer {font-size: 1.5em;color:white;padding-top:5px;padding-bottom:5px;}
.compare {
  color: black;
  text-decoration: line-through;
  margin-left: 5px;
  font-size: 1.5em;
}
.change-next {
  color: black;
  font-size: 1em;
  padding: 10px;
  width: 30%;
  background:transparent;
  border:none;
}
.variants-dic {display: flex; flex-flow: row wrap;}
.modelContent h2{
  font-size: 2.5em;
  width: 40%;
  background: white;
}
.variants-list {list-style-type: none;margin:5px auto;}
.variants-btn {
  border:1px solid black;
  padding:5px 20px;
  color:black;
  border-radius:20px;
  background: transparent;
}
.selected {
  border:1px solid;
}
.discount{font-weight:bolder;}
.variants-list-drop {
  list-style-type:none;
  margin:5px auto;
  border:1px solid;
  padding:5px 30px 5px 10px;
  border-radius: 20px;
}
